<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<add key ="DB" value ="C:\Program Files\TSOrderNotifyService"/>
    <add key ="Mail" value ="C:\Program Files\TSOrderNotifyService\Mail"/>
		<add key ="MailBackUp" value ="C:\Program Files\TSOrderNotifyService\Backup"/>
		<add key ="SenderMsgCommand" value ="Sender"/>
		<add key ="Phone" value ="13928081843"/>
    <add key ="mqtt_server" value ="tcp://146.222.94.194:1883"/>
    <add key ="fromMail" value ="timo.jiang@qq.com" />
    <add key ="toMail" value ="timo.jiang@qq.com" />
    <add key ="NotificationWeiXin" value ="true" />
    <add key ="host" value ="smtp.qq.com" />
    <add key ="username" value ="timo.jiang@qq.com" />
    <add key ="password" value ="sxnm49pr-A" />
  </appSettings>
</configuration>