<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="DB" value ="C:\Program Files\TSOrderNotifyService"/>
    <add key ="Mail" value ="C:\Program Files\TSOrderNotifyService\Mail"/>
    <add key ="MailBackUp" value ="C:\Program Files\TSOrderNotifyService\Backup"/>
		<add key ="Phone" value ="008613928081843"/>
		<add key ="SenderMsgCommand" value ="SMSSender.exe"/>
		<add key ="Send" value ="0"/>
		<add key ="TimerInterval" value ="2000"/>
    <add key ="fromMail" value ="timo.jiang@qq.com" />
    <add key ="toMail" value ="timo.jiang@qq.com" />
    <add key ="NotificationWeiXin" value ="true" />
    <add key ="host" value ="smtp.qq.com" />
    <add key ="username" value ="timo.jiang@qq.com" />
    <add key ="password" value ="1234qwerQ" />
  </appSettings>
</configuration>